/* Example CSS styles for Merchant OrderForm cart v2.5 */
/* POPUP Windows for messages */

BODY {			 
	background : #FFFFEF;
	margin-left: 0px;  	
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
}

/******* hyperlink and anchor tag styles *******/

a:link, a:visited{
	color: #005FA9;
	text-decoration: none;
}

a:hover{
 	color: #9F0024;
	text-decoration: underline;  

}

FORM { margin-bottom:0; margin-top:0 }


/*  OUTPUT TEMPLATES */
.SectionHeadings {
	color : #00008B;
	font-family : arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12px;
}	 

.button {	
			  		
	padding-bottom: 0px;
	padding-top: 0px;  
	padding-right: 3px;
	padding-left: 3px;
	border-color: #33638D;
	border-style: solid;
	border-width: 1px;
	background: #F5F5F5;
	color : #000000;
	font-family : arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12px;
}


.DefaultText {
	color : Black;
	font-family : arial, Helvetica, sans-serif;
	font-size : 12px;
}

/*  JUST ADDED ITEMS */
/* TABLE OVERALL - JUST ADDED ITEM(S)   */
TABLE.tblHeading { 
	font-family : arial, Helvetica, sans-serif;
	font-size : 12px;
	background : #578BEA;
	color : White;
	font-family : arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style: normal;
	font-weight: bolder;
	font-stretch: ultra-expanded;
	font: small-caps;
	width : 100%;
	border : 0px;

	}


 TABLE.tblContent { 
	font-family : arial, Helvetica, sans-serif;
	font-size : 12px;
	background : #FFFFEF;
	color : Black;
	font-family : arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style: normal;
	font-weight: normal;
	border : 0px;
	}

  
.SmBlack {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: Black; 
	font-weight: bold;
}	

.SmMaroon {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: Maroon;	  
	font-weight: bold;
}		
	  
.SmWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: White;	  
	font-weight: bold;
}		

.menu	  {
	font-family: Verdana,sans-serif;	
	font-weight: normal;
	font-size: 7pt;
	font-style: normal;	
}	
		



